#tituloAsignacion{

}

#subjectsButton{

    -fx-background-color: D9D9D9;
}

#botonSalir {

    -fx-background-color: D9D9D9;
}

#back1{
    -fx-background-color:  D9D9D9;

}

#viewAssistants{
    -fx-background-color:  D9D9D9;

}

#volver_materia{
    -fx-background-color:  D9D9D9;
}

#principalPanel{
    -fx-background-image: url("images/fondo_azul.png");
    -fx-background-size: 100% 100%;
}

#assistantsTable{
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 16;
}

#subjectsTable {
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 16;
    -fx-text-alignment: center;
}

#Barra{
    -fx-background-color: #08005e;
}

#Barra2{
    -fx-background-color: #08005e;
}